body {
    font-family: "Trebuchet MS";
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    background-color: rgb(240, 164, 71);
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #D2691E;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: yes;        /* Suppression du soulignement */
   
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #D2691E ; 
    color: #FFFFFF ;
    border-color: #FFFFFF ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #000000;
    color: #ffe843;
    border-color: #ffe843;
}
h1{
    color: rgb(75, 72, 72);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;  
}
img{
	width: 350px;
	height: 300px;
    align-content: center;
    
}